@charset "utf-8";

/*Main StyleSheet*/
body {
    margin: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    background-image: url(https://wallpapercave.com/wp/wp3640389.jpg);
    background-size: cover;
    background-position: top;
    padding-top: 75px;
    flex-wrap: wrap;
    flex-direction: column;
}

h2.index {
    color: white;
    font-family:serif;
    font-size: x-large;
    background-color: blue;
    text-decoration: underline;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.612);
    padding: 20px 20px;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    width: 100%;
    border: 3px solid black;
    background: linear-gradient(to top right, black, hsl(212, 100%, 19%));
}

a{
    color: white;
    text-decoration: none;
    :hover {
        background-color: none;
        text-decoration: underline;
    }
}

a.choice {
    margin: 20px;
    padding: 20px 20px;
    font-size: x-large;
    color: white;
    background-color: blue;
    text-shadow: 2px 2px black;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.612);
}

a.choice:hover {
    background-color: rgb(1, 1, 145);
}

div.choices {
    padding: 60px;
}